.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.title-header-container{
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.add-recipe-button{
  background-color: aqua;
  width: 180px;
  cursor: pointer;
  color: black;
  font-size: 32px;
  font-weight: 800;
  border: none;
  border-radius: 12px;
}

.input-holder {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.body-section {
  margin-top: 12px;
}

.recipe-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

.delete-recipe{
  cursor: pointer;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h4, h6 {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.halal-tag {
  background-color: "#d6f5d6";
  color: "#196619";
  border-radius: 5;
}
